<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <h2 class="h2 mt-1 mb-3">Население России на момент 1 января 2017 года</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <svg #geoChart></svg>
    </div>
    <div class="description p-2 text-center text-info" *ngIf="regionData">
      <p>{{regionData.name}}</p>
      <p>Население: {{regionData.population}} человек</p>
    </div>
  </div>
</div>
