<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <h2 class="h2 mt-1 mb-3">The population of Russia at the time of January 1, 2017</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <svg #geoChart></svg>
    </div>
    <div class="description p-2 text-center text-info" *ngIf="regionData">
      <p>{{regionData.name}}</p>
      <p>Population: {{regionData.population}}</p>
    </div>
  </div>
</div>
